<ul class="nav nav-pills">
    <li><a href="#/home">Home</a></li>
    <li class="dropdown">
        <a  data-toggle="dropdown" class="dropdown-toggle">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/categories/save/0">Create New</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a  data-toggle="dropdown" class="dropdown-toggle">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/products">View All</a></li>
            <li><a href="#/products/save/0">Create New</a></li>
        </ul>
    </li>
    <li class="pull-right">
        <div class="input-group" style="width:400px">
            <input type="text" class="form-control" ng-model="searchInput" placeholder="Search product">
            <span class="input-group-addon" ng-click="search(searchInput)">Go</span>
        </div>
    </li>
</ul>