<ul class="nav nav-pills">
    <li><a href="#/home">Home</a></li>
    <li class="dropdown">
        <a  data-toggle="dropdown" class="dropdown-toggle">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/saveCategory/0">Create New</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a  data-toggle="dropdown" class="dropdown-toggle">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/products">View All</a></li>
            <li><a href="#">Create New</a></li>
        </ul>
    </li>
    <li class="pull-right">
        <div class="searchBox">
            <input type="text" class="input-sm" ng-model="searchInput" placeholder="Search product" />
            <input type="button" class="btn btn-success" ng-click="search(searchInput)"  value="GO" />
        </div>
    </li>
</ul>