<div ng-controller="categorySaveCtrl" ng-init="findOne()">
    <h3>Save Category</h3>
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" ng-model="category.name" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="Save" ng-click="save()" />
                <input type="button" value="Cancel" ng-click="cancel()" />
            </td>
        </tr>
    </table>
</div>
